@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lobster+Two:wght@700&display=swap');
/*Change made*/
*{
max-width: 100vw;
}

.caption{
  display: flex;
}

a{
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
  margin: 0vh 7vw 0px 35px;
}


#navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: Kanit;
  font-weight: 500;
  position: fixed;
  top: -16px;
  left: 0px;
  width: 100vw;
  height: 15vh;
  background-color: rgb(0,95,107);
}

#welcome-section{
  display: flex;
  width: 100VW;
  height: 100vh;
  justify-content: center;
  Align-items: center;
  flex-direction: column;
  background-color: rgb(52,56,56);
  margin: 0px 0px 0px -0.6vw;
  color: white;
}

#Hey{
  font-family: Lobster Two;
  font-size: 30px;
}
#webdev{
  font-family: Kanit;
  font-weight: 12px;
}

img{
  width: 25vw;
  height: 70vh;
  min-width: 150px;
  min-height: 150px;
  max-height: 300px;
}

#worknav{
  background-color: rgb(0,140,158);
  margin: 0px 0p 0px -0.6vw;
  width: 100VW;
  height: 250vh;
  justify-items: center;
  Align-items: center;
  display: grid;
  grid-template-areas: 
              "title title title"
              "p1 p2 p3"
              "p4 p5 p6"
              "sall sall sall";
  
  
}

#Work{
  font-family: Lobster Two;
  margin: 0px 0px 0px -8px;
}

#pro-title{
  grid-area: title;
  font-family: Lobster Two;
  color: white;
  font-size: 50px;
}

#tribute{
  grid-area: p1;
}
#rqm{
  grid-area: p2;
}
#jscalc{
  grid-area: p3;
}
#map{
  grid-area: p4;
}
#wiki{
  grid-area: p5;
}
#tictac{
  grid-area: p6;
}
#sallwrap{
  grid-area: sall;
}

#sall{
  background-color: transparent;
}

.caption{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(52,56,56);
  margin: -5px 0px 0px 0px;
  height: 10vh;
  min-height: 28px;
  border-radius: 0px 0px 5px 5px;
}

.tag{
  color: rgb(52,56,56);
  font-family: Lobster Two;
  font-size: 22px;
  font-weight: 900;
  
}

.project-tile:hover .tag{
    color: rgb(0,95,107);
    font-family: Lobster Two;
    font-size: 22px;
    font-weight: 900;
    margin: -5px 0px 0px 0px;
}

#Contact{
  background-color: rgb(0,180,204);
    display: flex;
  width: 100VW;
  height: 100vh;
  justify-content: center;
  Align-items: center;
  flex-direction: column;
  margin: 0px 0px 0px -0.6vw;
  color: white;
  font-family: Kanit;
  line-height: 60px;
}

#Contact header{
  font-family: Lobster Two;
  font-size: 40px;
}

#socialmedia{
  display: flex;
  justify-content: space-between;
  width: 40vw;
  min-width: 500px;
}

#footer{
  width: 100vw;
  height: 50px;
  margin: 0px 0px 0px 0px;
  background-color: rgb(0,223,252);
  color: black;
  overflow: hidden;
}

main{
  overflow: hidden;
  margin: -8px;
}

#footer-wrap{
  display: flex;
  margin: 0px 0px 0px 10px;
}
#spacefooter{
  width: 75vw;
  min-width: 60vw;
}

@media (min-width: 300px){
  #spacefooter{
  width: 50vw;
  min-width: 60vw;
}
}
